{% extends 'base.html' %}

{% block content %}
    <main>
        <header>
            <h1 class="jumbotron text-center">Sample Plots</h1>
        </header>
        <p>Below, you will find simple sample plots taken from the UFC fighter database.</p>
        <h2>Weight vs Height</h2>
        <img src="/plot.png" >
        <br>
        <h2>SubAvg vs TDAvg</h2>
        <img src="/plot2.png" >
        <br>
        <h2>StrDef vs TDDef</h2>
        <img src="/plot3.png" >
    </main>
{% endblock %}